In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

annotations_dir = Path(r"F:\Work2\drum-onset-detection\data\ADTOF-master\dataset\annotations\one_hot\512")

In [15]:
target_path = annotations_dir / ('5 Seconds Of Summer - What I Like About You.npy')
target_np = np.load(target_path).astype(np.float32)
target_np.shape

(13333, 5)

In [16]:
target_np

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       ...,
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]], dtype=float32)

In [12]:
targets_df = pd.DataFrame()

In [17]:
targets_df = pd.concat([targets_df, pd.DataFrame(target_np)])
targets_df

         0    1    2    3    4
0      0.0  0.0  0.0  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0
2      0.0  0.0  0.0  0.0  0.0
3      0.0  0.0  0.0  0.0  0.0
4      0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...
13328  0.0  0.0  0.0  0.0  0.0
13329  0.0  0.0  0.0  0.0  0.0
13330  0.0  0.0  0.0  0.0  0.0
13331  0.0  0.0  0.0  0.0  0.0
13332  0.0  0.0  0.0  0.0  0.0

[26448 rows x 5 columns]

In [14]:
targets_df.shape

(13115, 5)